* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(250, 250, 250);
  transition: background 0.5s ease;
}

p {
  font-family: sans-serif;
  font-size: 17px;
  max-width: 30rem;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 60px 0px;
  padding: 2rem;
  margin: 1rem;
  transition: color 0.5s ease, border 0.5s ease;
}

.toggle-theme {
  background: rgba(0, 93, 93, 0.5);
  height: 3rem;
  width: 3rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.toggle-theme:hover,
.togge-theme:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.toggle-theme i {
  font-size: 2rem;
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease;
}

.fa-sun {
  color: rgb(255, 72, 0);
  opacity: 0;
  transform: translateX(50px);
}

.fa-moon {
  color: rgb(251, 178, 6);
  transform: translateX(0px);
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .toggle-theme .fa-sun{
    opacity: 1;
    transform: translateX(0px);
}

.checkbox:checked ~ .toggle-theme .fa-moon{
    opacity: 0;
    transform: translateX(-50px);
}

/* Dark Theme */

.container.dark{
    background: rgb(0, 17, 29);
    color: #fafafa;
}

.container.dark p{
    border: 2px solid rgb(98,98,98);
}